<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ApkAnalyzePlatform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.analysis.APK.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LJudge</servlet-name>
    <servlet-class>com.analysis.user.loginJudge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LJudge</servlet-name>
    <url-pattern>/loginJudgepatten</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>message</servlet-name>
    <servlet-class>com.analysis.message.messageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>message</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Regest</servlet-name>
    <servlet-class>com.analysis.user.regest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regest</servlet-name>
    <url-pattern>/regestpatten</url-pattern>
  </servlet-mapping>
  </web-app>